button,
a,
img,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
img,
[inert],
.inert {
  user-select: none;
  -webkit-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  touch-callout: none;
  -webkit-touch-callout: none;
}

html {
  background-color: #132605;
  background-image: url('crt-background.png');
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px/1.3 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
  contain: strict;
}

body {
  background-image: url('crt-scanline.png');
  background-repeat: repeat-x;
  animation: move-down 12s linear infinite;
}

@keyframes move-down {
  0% {
    background-position: 0 -100vh;
  }
  25%,
  100% {
    background-position: 0 100vh;
  }
}

:global(#app) {
  position: absolute;
  left: 0;
  top: 0;
  contain: strict;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
